# Modcraft folders / files we dont want in git
.curseclient
.mixin.out/
.ReAuth.cfg
astralsorcery/
BotaniaVars.dat
journeymap/
local/
logs/
manifest.json
minecraftinstance.json
modlist.html
mods/
options.txt
patchouli_data.json
resourcepacks/
saves/
servers.dat
usercache.json
usernamecache.json

# Specific files we don't want in git
config/AppliedEnergistics2/aerecipes
config/AppliedEnergistics2/items.csv
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/jeresources/world-gen*.json
config/thaumicjei_itemstack_aspects.json

# File extensions we don't want in git
*.jar
*.dll
*.log

# Dev Mod Configs
config/InvTweaks*
config/tellme.cfg
config/tellme/
config/worldstripper.cfg
crash-reports/

# Dev Env
.vscode/