mods/
resourcepacks/
saves/
.vscode/
logs/
local/
journeymap/
astralsorcery/
.mixin.out/
.curseclient
manifest.json
minecraftinstance.json
modlist.html
.ReAuth.cfg
BotaniaVars.dat
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json


config/AppliedEnergistics2/VersionChecker.cfg
config/jei/bookmarks.ini
config/jei/worldSettings.cfg

*.jar
*.dll
*.log

# Dev Mod Configs
config/InvTweaks*
config/tellme.cfg