# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        libvulpes:ore0:10
        railcraft:ore_metal:1
        railcraft:ore_metal:0
        forestry:resources:2
        railcraft:ore_metal:2
        forestry:resources:1
        railcraft:ore:1
        oregen:ore
        appliedenergistics2:material:53
     >
}


