# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        appliedenergistics2:material:53
        oregen:ore
        railcraft:ore_metal:1
        railcraft:ore_metal:0
        railcraft:ore_metal:2
     >
}


